.dropdown {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown__container{
    display: flex;
    gap: 100px;
}
.left__side {
    width: 487px;
    height: 271px;
}
.left__side h1 {
    font-size: 56px;
    font-weight: 400;
    line-height: 61.6px;
}
.left__side p {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
}
.right__side {
    width: 900px;
}
.item {
    margin: 10px;
}
.item p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: 10px;
}
.item span {
    float: right;
    cursor: pointer;
}
.item hr {
    margin: 20px;
}